
.advantage-section {
    background-color: white;
    padding: 20px;
    margin-left: 10%;
    margin-top: 10%;
}

.advantage-section__header-title {
    font-size: 60px;
    font-weight: 700;
    width: 600px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#h2 {
    margin-bottom: 10px;
    white-space: normal;
}

.advantage-section__table {
    width: 90%;
    font-size: 25px;
} 

.advantage-section__table-item {
    padding: 1%;
    width: 30%;
    text-align: left;
    margin-right: auto;
    vertical-align: top;
    float: left;
}

#car {
    position: absolute;
    right: 0;
    top: 160%;
}

.advantage-section__table-item-image {
    display: block;
    margin-right: auto;
    margin-left: 0;
}

#line {
    position: absolute;
    right: 0;
    top: 130%;
}
