
body {
    font-family: Roboto;
}

.header {
    background-color: D9D9D9;
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

.navigation_menu{
    float: right;
    position: absolute;
    left: 50%;
}

.menu{
    list-style: none;
    padding: 0%;
}

.menu__item{
    display: inline-flex;
    margin-right: 40px;
}

.menu__item-link {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header__icon {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 5%;
}

.header__icon-item {
    width: 45%;
    height: 60%;
    margin-right: 5%;
    margin-top: 10%;
}

#email {
    width: 37%;
    height: 60%;
    margin-right: 5%;
    margin-top: 10%;
}

img {
    margin-left: 10%;
}
