
@font-face {
    font-family: Roboto;
    src: url("../TZ/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("../TZ/Roboto/Roboto-Thin.ttf");
    font-weight: 300;
}

.second {
    background-color: white;
    padding: 20px;
    margin-left: 10%;
    margin-top: 10%;
}

h2 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    width: 600px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#h2 {
    margin-bottom: 10px;
    white-space: normal;
}

.table {
    width: 90%;
    font-family: Roboto;
    font-size: 25px;
} 

tr td {
    padding: 1%;
    width: 30%;
    text-align: left;
    margin-right: auto;
    vertical-align: top;
    float: left;
}

#car {
    position: absolute;
    right: 0;
    top: 160%;
}

tr td img {
    display: block;
    margin-right: auto;
    margin-left: 0;
}

#line {
    position: absolute;
    right: 0;
    top: 130%;
}
